
<!-- Add Button -->
<button ng-click="formActivate(null)" ng-show="addBtnOpt" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored jn-button-fix">
  <i class="material-icons">add</i>
</button>
<!-- End Add Button -->

<!-- Details Card -->
<div ng-show="formDetailsOpt" class="jn-content-div jn-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Detalles</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--6-col">
        <span><strong>Actividad:</strong></span>
      </div>
      <div class="mdl-cell mdl-cell--6-col">
        <span>{{itemActivated.nombreActividad}}</span>
      </div>
    </div>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--6-col">
        <span><strong>Detalle:</strong></span>
      </div>
      <div class="mdl-cell mdl-cell--6-col">
        <span>{{itemActivated.detalle}}</span>
      </div>
    </div>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--6-col">
        <span><strong>Duracion (Segundos):</strong></span>
      </div>
      <div class="mdl-cell mdl-cell--6-col">
        <span>{{itemActivated.duracion}}</span>
      </div>
    </div>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--6-col">
        <span><strong>Repeticiones:</strong></span>
      </div>
      <div class="mdl-cell mdl-cell--6-col">
        <span>{{itemActivated.repeticiones}}</span>
      </div>
    </div>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--6-col">
        <span><strong>Peso:</strong></span>
      </div>
      <div class="mdl-cell mdl-cell--6-col">
        <span>{{itemActivated.peso}}</span>
      </div>
    </div>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--6-col">
        <a ng-click="refresh()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Cerrar
        </a>
      </div>
    </div>

  </div>
</div>
<!-- End Details Card -->

<!-- Update / Remove Card -->
<div ng-show="formOpt" class="jn-content-div jn-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Actividad</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--6-col">
        <span><strong>Actividad:</strong></span>
      </div>
      <div class="mdl-cell mdl-cell--6-col">
        <input class="mdl-textfield__input" type="text" ng-model="itemActivated.nombreActividad">
      </div>
    </div>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--6-col">
        <span><strong>Detalle:</strong></span>
      </div>
      <div class="mdl-cell mdl-cell--6-col">
        <textarea class="mdl-textfield__input" type="text" rows= "3" ng-model="itemActivated.detalle" ></textarea>
      </div>
    </div>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--6-col">
        <span><strong>Duracion (Segundos):</strong></span>
      </div>
      <div class="mdl-cell mdl-cell--6-col">
        <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" ng-model="itemActivated.duracion">
      </div>
    </div>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--6-col">
        <span><strong>Repeticiones:</strong></span>
      </div>
      <div class="mdl-cell mdl-cell--6-col">
        <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" ng-model="itemActivated.repeticiones">
      </div>
    </div>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--6-col">
        <span><strong>Peso:</strong></span>
      </div>
      <div class="mdl-cell mdl-cell--6-col">
        <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" ng-model="itemActivated.peso">
      </div>
    </div>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--6-col">
        <a ng-click="refresh()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Cancelar
        </a>
      </div>
      <div class="mdl-cell mdl-cell--6-col">
        <a ng-click="confirmChanges()"class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Aceptar
        </a>
      </div>
    </div>


  </div>
  <div class="mdl-card__menu">
    <button ng-disabled="delBtnOpt" ng-click="removeItem(itemActivated._id)" id="deleteActivity" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">delete</i>
    </button>
  </div>
</div>

<!-- Tooltip -->
<div class="mdl-tooltip" for="deleteActivity">
  Remover
</div>
<!-- End Update / Remove Card -->

<!-- Datatable -->
<div class="jn-content-div mdl-color--white mdl-shadow--2dp">
  <h3>Administrar Actividades</h3>
  <table datatable="ng" dt-options="dtOptions" class="table table-hover">
          <thead >
              <tr >
                  <th>#</th>
                  <th>Nombre</th>
                  <th>Detalles</th>
                  <th>Duracion (seg)</th>
                  <th>Repeticiones</th>
                  <th>Peso</th>
                  <th>Acciones</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="item in items">
                  <td>{{$index + 1}}</td>
                  <td>{{item.nombreActividad}}</td>
                  <td>{{item.detalle}}</td>
                  <td>{{validateNumberData(item.duracion)}}</td>
                  <td>{{validateNumberData(item.repeticiones)}}</td>
                  <td>{{validateNumberData(item.peso)}}</td>
                  <td>
                    <button ng-disabled="tablBtnsOpt" ng-click="formActivate(item)" type="button" class="mdl-button"><i class="material-icons left">build</i></button>
                    <button ng-disabled="tablBtnsOpt" ng-click="formDetailsActivate(item)" type="button" class="mdl-button"><i class="material-icons left">search</i></button>
                  </td>
              </tr>
          </tbody>
      </table>
</div>
<!-- End Datatable -->
