<h3>Administrar Actividades</h3>

<div >
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored jn-button-fix">
    <i class="material-icons">add</i>
  </button>

  <table datatable="ng" dt-options="dtOptions" class="table table-hover">
          <thead >
              <tr >
                  <th>#</th>
                  <th>Nombre</th>
                  <th>Detalles</th>
                  <th>Duracion</th>
                  <th>Repeticiones</th>
                  <th>Peso</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="item in items">
                  <td>{{$index + 1}}</td>
                  <td>{{item.nombreActividad}}</td>
                  <td>{{item.detalle}}</td>
                  <td>{{item.duracion}}</td>
                  <td>{{item.repeticiones}}</td>
                  <td>{{item.peso}}</td>
              </tr>
          </tbody>
      </table>
</div>
