<style>
.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('../images/raw-fitness.jpg') no-repeat;
    background-size: cover;
}

</style>

<div class="jn-content-div demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <h1 class="mdl-card__title-text">Bienvenido</h1>

  </div>
  <div class="mdl-card__supporting-text">
    <span>Panel de administracion</span>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <div class="mdl-grid">
       <div class="mdl-layout-spacer"></div>
       <div class="mdl-cell mdl-cell--7-col">
         <span class="mdl-button--colored">By Softech Factory</span>

       </div>
    </div>
  </div>
</div>
