.jn-content-div{
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  padding: 1%;
}

.jn-button-fix{
  position: absolute;
  bottom: 45px;
  right: 24px;
}

/*
 * Animation
 */
.ng-hide-add{
    animation:0.5s bounceOut ease;
}

.ng-hide-remove{
    animation:0.5s bounceIn ease;
}

/*
 * Card
 */
.jn-card-wide.mdl-card {
  width: 512px;
}
